.urbanTitulo {
  list-style: none;
  font-size: 750px;
  text-decoration: none;
  color: #000000;
}

.menu {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-left: 60%;
  width: 100%;
}

.linkMenu, .linkSubmenu, #basic-nav-dropdown {
  margin-right: 15%;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: #000000;
  text-align: center;
}

.iconCarrito {
  font-size: 30px;
  margin-left: 5%;
  margin-top: 1%;
  margin-right: 3%;
  cursor: pointer;
}

.greeting {
  margin-top: 2%;
  color: #000000;
  text-align: center;
}